 ## 1: Connect to MongoDB

In [1]:
from pymongo import MongoClient

#user:team_member
#password:CS584GROUP9
client = MongoClient("mongodb+srv://team_member:CS584GROUP9@cluster0.b498i.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

db = client["myDatabase"]

#collections
jobs_collection = db["jobs"]
companies_collection = db["companies"]

print("Connected to database:", db.name)

Connected to database: myDatabase

# 2: Insert a sample into the `jobs` collection

The document includes fields such as 
`job_id`, `title`, `company_name`, `location`, `description`, and `salary`.

In [ ]:
sample_job = {
    "job_id": 1001,
    "title": "Software Engineer",
    "company_name": "Tech Corp",
    "location": "San Francisco, CA",
    "description": "Develop and maintain software applications.",
    "salary": "120000"
}

insert_job_result = jobs_collection.insert_one(sample_job)
print("Inserted job document with _id:", insert_job_result.inserted_id)

# 3: Insert a sample into the `companies` collection

This cell inserts a sample company document into the `companies` collection. 
The document includes fields such as `company_id`, `company_name`, `industry`, and `location`.

In [ ]:
sample_company = {
    "company_id": 2001,
    "company_name": "Tech Corp",
    "industry": "Software Development",
    "location": "San Francisco, CA"
}

insert_company_result = companies_collection.insert_one(sample_company)
print("Inserted company document with _id:", insert_company_result.inserted_id)

# 4: Fetch and print documents from both collections

fetches and displays documents from both the `jobs` and `companies` collections.

In [ ]:
print("Jobs Collection:")
for job in jobs_collection.find().limit(5):
    print(job)

print("\nCompanies Collection:")
for company in companies_collection.find().limit(5):
    print(company)

# 5: Cleanup - Remove the inserted test sample

This cell removes the test inserted into the `jobs` and `companies` collections.

In [ ]:
jobs_cleanup_result = jobs_collection.delete_one({"job_id": 1001})
print("count of deleted job(s):", jobs_cleanup_result.deleted_count)


companies_cleanup_result = companies_collection.delete_one({"company_id": 2001})
print("count of deleted company(s)", companies_cleanup_result.deleted_count)

# 6.API

In [ ]:
from job_api import search_jobs, get_job, get_company
import pandas as pd

## 6.1 Searching for Jobs
Use `search_jobs()` to find job postings based on keywords and location.

In [ ]:
results = search_jobs(keyword="Attorney", location="NY", limit=5)
for job in results:
    print(job)

## 6.2 Fetching Job Details
Use `get_job()` to retrieve a specific job's details by providing its `job_id`

In [ ]:
job_details = get_job(job_id=921716)
job_details

## 6.3 Fetching Company Details
Use `get_company()` to retrieve a company's details by providing its `company_id`.

In [ ]:
company_details = get_company(company_id=1035)
company_details